:root{
    --bg-color: #76ebe1;
    --grid-color:rgb(255, 255, 255);
    --border-color: #e6081c;
    --length:640px;
    --hover-color: blanchedalmond;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    padding-top:1.5rem;
    font-family: cursive;
}

/*
Grid is column of rows
Each row is a div with <length> cells, and we have <length> rows so it's a square grid
So overall grid is flex-direction:col, each row div is a flex-dir:row for the cells
Both rows and cells have flex-grow:1 so they can take up all the available space (stretch) and
all in proportion
*/
#sketch-grid{
    border: 1rem groove var(--border-color);
    width:var(--length);
    height:var(--length);
    margin:0 auto;
    background-color: var(--grid-color);
    border-radius: 1.8rem;
    display:flex;
    flex-direction: column;
    /*display:grid;*/
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16,1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(1fr,1fr));
    grid-template-rows: repeat(auto-fill,minmax(1fr,1fr)); */

}

h3{
    text-align: center;
    margin: 0 auto;
    font-family: 'Festive', cursive;
    font-size:2rem;
    background-color: var(--bg-color);
}

.cell{
    /*border:3px solid black;*/
    flex-grow: 1;
    pointer-events: "";
}

.cell-hover{
    background-color: var(--hover-color);
}

.row{
    flex-grow: 1;
    display:flex;
}

#settings{
    display:flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    width:calc(var(--length) - 4rem);
    margin:0 auto;
    margin-bottom:0.4rem;
    font-size:1.3rem;
    
}

#options{
    margin-left:0.5rem;
}

button{
    background-color: var(--bg-color);
    border:none;
    font-family: inherit;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

button:hover{
    text-decoration: underline;

}

